html {
    scroll-behavior: smooth;
}

body {
    position: fixed;
    background-color: #006eff;
}

#BackgroundUtama {
    position: fixed;
    top: -25px;
    left: -8px;
    width: 1550px;
    height: 920px;
    /* background-color: #006eff; */
}

.awan1 {
    position: absolute;
    top: 150px;
    background: url(/Cloud-8.svg);
    width: 150px;
    height: 150px;
    z-index: 100;
    opacity: 0;
    animation: jalan1 17s;
}

@keyframes jalan1 {
    0% {
        transform: translateX(-650px);
        opacity: 1;
    }

    25% {
        opacity: 1;
        transform: translateX(0px);
    }

    22.3% {
        opacity: 1;
        transform: translateY(0px);
        transform: translate(0px, 0px);
    }

    60% {
        opacity: 1;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }

    100% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }
}

.awan2 {
    position: absolute;
    top: 80px;
    background: url(/Cloud-7.svg);
    width: 140px;
    height: 140px;
    z-index: 100;
    opacity: 0;
    animation: jalan2 27s;
}

@keyframes jalan2 {
    0% {
        transform: translateX(1250px);
        opacity: 1;
    }

    15% {
        opacity: 1;
        transform: translateX(800px);
    }

    40% {
        opacity: 1;
        transform: translateY(0px);
        transform: translate(800px, -500px);
    }

    47% {
        opacity: 1;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }

    100% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }
}

.awan3 {
    position: absolute;
    top: 180px;
    background: url(/Cloud-8.svg);
    width: 160px;
    height: 160px;
    z-index: 100;
    opacity: 0;
    animation: jalan3 40s;
}

@keyframes jalan3 {
    0% {
        transform: translateX(1750px);
        opacity: 1;
    }

    10% {
        opacity: 1;
        transform: translateX(1200px);
    }

    22.3% {
        opacity: 1;
        transform: translateY(0px);
        transform: translate(1200px, -500px);
    }

    47% {
        opacity: 1;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }

    100% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }
}

.awan4 {
    position: absolute;
    top: 320px;
    background: url(/Cloud-7.svg);
    width: 200px;
    height: 200px;
    z-index: 100;
    opacity: 0;
    animation: jalan44 20s;
}

@keyframes jalan44 {
    0% {
        transform: translateX(-550px);
        opacity: 1;
    }

    23% {
        opacity: 1;
        transform: translateX(500px);
    }

    50% {
        opacity: 1;
        transform: translateY(0px);
        transform: translate(500px, -500px);
    }

    70% {
        opacity: 1;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }

    100% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }
}

.awan5 {
    position: absolute;
    top: 400px;
    background: url(/Cloud-8.svg);
    width: 220px;
    height: 220px;
    z-index: 100;
    opacity: 0;
    animation: jalan5 33s;
}


@keyframes jalan5 {
    0% {
        transform: translateX(1250px);
        opacity: 1;
    }

    13% {
        opacity: 1;
        transform: translateX(900px);
    }

    50% {
        opacity: 1;
        transform: translateY(900px);
        transform: translate(900px, -900px);
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }

    100% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }
}

.awan6 {
    position: absolute;
    top: 20px;
    background: url(/Cloud-7.svg);
    width: 170px;
    height: 170px;
    z-index: 100;
    animation: jalan6 20s;
    opacity: 0;
}

@keyframes jalan6 {
    0% {
        opacity: 0;
        transform: translateX(3000px);
    }

    15% {
        transform: translateY(1700px);
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(-200px);
    }
}

.awan7 {
    position: absolute;
    left: 800px;
    top: 90px;
    background: url(/Cloud-8.svg);
    width: 140px;
    height: 140px;
    z-index: 0;
    animation: jalan7 20s infinite;
    opacity: 0;
    animation-delay: 6s;
}

@keyframes jalan7 {
    0% {
        opacity: 0;
        transform: translateX(3000px);
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateX(-1000px);
    }
}

.awan8 {
    position: absolute;
    left: -300px;
    top: 130px;
    background: url(/Cloud-8.svg);
    width: 170px;
    height: 170px;
    z-index: 90;
    animation: jalan8 20s infinite;
    animation-delay: 6s;
}

@keyframes jalan8 {
    0% {
        opacity: 0;
        transform: translateX(3000px);
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateX(1000px);
    }
}

.awan9 {
    position: absolute;
    left: -100px;
    top: 80px;
    background: url(/Cloud-7.svg);
    width: 170px;
    height: 170px;
    z-index: 90;
    opacity: 0;
    animation: jalan9 20s infinite;
    animation-delay: 6s;
}

@keyframes jalan9 {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateX(-300px);
    }
}

.awan10 {
    position: absolute;
    right: 800px;
    top: -40px;
    background: url(/Cloud-7.svg);
    width: 200px;
    height: 200px;
    z-index: 100;
    animation: jalan10 20s infinite;
    animation-delay: 6s;
}

@keyframes jalan10 {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateX(-1000px);
    }
}

.Loading_Screen img {
    position: absolute;
    top: 270px;
    right: -820px;
    width: 130px;
    z-index: 100;
    animation: muncul 2.5s;
    opacity: 0;
}

@keyframes muncul {
    0% {
        transform: translateY(120px);
        transition: 0.3s ease;
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

.Loading_Screen h1 {
    position: fixed;
    top: -40px;
    left: -8px;
    width: 1550px;
    height: 750px;
    background-color: #006eff;
    animation: hilang 6s;
}

@keyframes hilang {
    0% {
        z-index: 100;
    }

    95% {
        z-index: 100;
    }

    100% {
        z-index: -10;
    }
}

.awan11 {
    position: absolute;
    right: -600px;
    top: -40px;
    background: url(/Cloud-7.svg);
    width: 200px;
    height: 200px;
    z-index: 100;
    animation: jalan4 20s;
    opacity: 0;
}

@keyframes jalan4 {
    0% {
        transform: translateX(350px);
        opacity: 1;
    }

    20% {
        opacity: 1;
        transform: translateX(-100px);
    }

    21% {
        opacity: 1;
        transform: translateY(0px);
        transform: translate(-100px, 0px);
    }

    40% {
        opacity: 1;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }

    100% {
        opacity: 0;
        transition: 0.3s ease;
        transform: translateY(-500px);
    }
}

.awan12 {
    position: absolute;
    top: 130px;
    left: 800px;
    background: url(/Cloud-8.svg);
    width: 130px;
    height: 130px;
    z-index: 0;
    animation: jalan12 20s;
    opacity: 0;
}

@keyframes jalan12 {
    0% {
        opacity: 0;
        /* transform: translateX(3000px); */
    }

    15% {
        transform: translateY(1700px);
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        /* transform: translateX(-900px); */
    }
}

.Background img {
    position: fixed;
    bottom: -50px;
    left: -10px;
    width: 1750px;
    z-index: 99;
    animation: muncul2 6.5s ease;
    animation-delay: 5s;
}

@keyframes muncul2 {
    0% {
        transform: translateY(1000px);
    }

    100% {
         transform: translateY(0px);
    }
}

.Menu h1 {
    position: fixed;
    left: 450px;
    bottom: 30px;
    width: 850px;
    height: 170px;
    border-radius: 30px;
    background-color: #006eff74;
    z-index: 100;
    animation: muncul3 13s;
}

@keyframes muncul3 {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.tombol1 {
    position: absolute;
    z-index: 101;
    top: 610px;
    right: -650px;
    width: 100px;
    height: 100px;
}

.tombol1:checked ~ .Tampilan1 h1 {
    transition: 0.3s ease;
    transform: translateY(-900px);
    opacity: 1;
}

.Tampilan1 h1 {
    position: absolute;
    top: 800px;
    left: -8px;
    width: 1750px;
    height: 1040px;
    z-index: 100;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.535);
}

.Tampilan2 h1 {
    position: absolute;
    top: 800px;
    left: -8px;
    width: 1750px;
    height: 1040px;
    z-index: 100;
    background-color: #e3dac9;
    animation-delay: 2s;
    opacity: 0;
} 

.tombol1:checked ~ .Tampilan2 h1 {
    opacity: 1;
    transition: 0.8s ease;
    transform: translateY(-500px);
} 
